<div class="sidebar" style="margin-top: 43px;">
  <h2 class="sidebar-title text-center mb-4">🐾 MENÚ</h2>
  {% if user.is_authenticated and not user.userprofile.primer_ingreso %}

  <ul class="sidebar-menu">

    <li>
      <a href="{% url 'dashboard' %}" class="btn-sidebar">
        <i class="bi bi-house"></i> Inicio
      </a>
    </li>

    <!-- Mascotas -->
    <li class="dropdown">
      <button class="btn-sidebar dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#menuMascotas">
        <i class="fa-solid fa-paw"></i> Mascotas
      </button>
      <ul id="menuMascotas" class="collapse sidebar-submenu" data-bs-parent=".sidebar-menu">
        <li><a href="{% url 'listar_mascotas' %}"><i class="bi bi-list-ul"></i> Lista de Mascotas</a></li>
        <li><a href="{% url 'crear_mascotas' %}"><i class="bi bi-plus-circle"></i> Agregar Mascota</a></li>
      </ul>
    </li>

    <!-- Razas -->
    <li class="dropdown">
      <button class="btn-sidebar dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#menuRazas">
        <i class="bi bi-heart"></i> Razas
      </button>
      <ul id="menuRazas" class="collapse sidebar-submenu" data-bs-parent=".sidebar-menu">
        <li><a href="{% url 'listar_razas' %}"><i class="bi bi-list-ul"></i> Lista de Razas</a></li>
        <li><a href="{% url 'crear_raza' %}"><i class="bi bi-plus-circle"></i> Agregar Raza</a></li>
      </ul>
    </li>

    <!-- Especies -->
    <li class="dropdown">
      <button class="btn-sidebar dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#menuEspecies">
        <i class="bi bi-bug"></i> Especies
      </button>
      <ul id="menuEspecies" class="collapse sidebar-submenu" data-bs-parent=".sidebar-menu">
        <li><a href="{% url 'listar_especies' %}"><i class="bi bi-list-ul"></i> Lista de Especies</a></li>
        <li><a href="{% url 'crear_especie' %}"><i class="bi bi-plus-circle"></i> Agregar Especie</a></li>
      </ul>
    </li>

    <!-- Adoptantes -->
    <li class="dropdown">
      <button class="btn-sidebar dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#menuPersonas">
        <i class="bi bi-person-heart"></i> Adoptantes
      </button>
      <ul id="menuPersonas" class="collapse sidebar-submenu" data-bs-parent=".sidebar-menu">
        <li><a href="{% url 'listar_personas' %}"><i class="bi bi-list-ul"></i> Lista de Adoptantes</a></li>
        <li><a href="{% url 'crear_persona' %}"><i class="bi bi-plus-circle"></i> Agregar Adoptante</a></li>
      </ul>
    </li>

    <!-- Novedades -->
    <li class="dropdown">
      <button class="btn-sidebar dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#menuNovedades">
        <i class="bi bi-file-text text-white"></i> Novedades

      </button>
      <ul id="menuNovedades" class="collapse sidebar-submenu" data-bs-parent=".sidebar-menu">
        <li><a href="{% url 'listar_novedades' %}"><i class="bi bi-list-ul"></i> Lista de Novedades</a></li>
        <li><a href="{% url 'crear_novedades' %}"><i class="bi bi-plus-circle"></i> Agregar Novedades</a></li>
      </ul>
    </li>
    <li><a href="{% url 'cambiar_contraseña_voluntariamente' %}" class="btn-sidebar"><i class="bi bi-lock-fill"></i>
        Cambiar Contraseña</a></li>
  </ul>
  {% else %}
  <p>Se debe <a href="{% url 'login' %}"> INICIAR SESIÓN </a> para ver las opciones</p>
  {% endif %}
</div>