{% extends "base.html" %}
{% load static %}

{% block title %}Mascotas disponibles - Universo Peludo{% endblock %}


{% block content %}

<div class="container py-5">
    <h2 class="mb-4 text-center">Mascotas Disponibles</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Especie</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for mascota in mascotas %}
                    <tr>
                        <td>{{ mascota.raza.especie }}</td>
                        <td>{{ mascota.raza }}</td>
                        <td>{{ mascota.sexo }}</td>
                        <td>{{ mascota.fecha_nac }}</td>
                        <td>{{ mascota.observaciones }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center text-muted">
                            No hay mascotas disponibles.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}