<h1>UNIVERSO PELUDO</h1>
<p>
    “Universo Peludo” es una organización fundada en el año 2023 sin fines de lucro, que da refugio y rehabilitación
    a
    cientos de animales en situación de calle, que están perdidos, abandonados o maltratados, para prepararlos para
    su
    futura familia. También recibimos animalitos.
    Nuestra fundación está ubicada en la ciudad de Rawson, Chubut, Argentina. Contamos con alrededor de 150
    animales esperando el proceso de adopción.
    En el establecimiento trabajan profesionales y veterinarios capacitados para atender toda urgencia médica,
    también
    tenemos personal para el rescate de animales y sus respectivos cuidados según su especie lo amerite.
    Ofrecemos una amplia atención para todo lo que se necesite, por ejemplo: adiestramiento, peluquerías,
    tienda de mascotas.
    Nuestro objetivo principal es asegurarle un hogar y una familia que sea responsable de todos los cuidados
    necesarios y básicos para la mascota, por eso es necesario estar completamente seguros, capacitados y
    comprometidos a la hora de adoptar.
</p>

