{% extends "base.html" %}

{% block content %}
<div class="container py-5">


    
    <!-- TÍTULO -->
    <div class="text-center mb-5">
        <h2 class="fw-bold text-dark mb-3 emoji-title">
            🐾 Explorar Mascotas
        </h2>
    </div>
    <!-- BOTÓN VOLVER -->
    <div class="mb-4">
        <a href="{% url 'home' %}" class="btn btn-outline-dark">
            ← Volver al menú
        </a>
    </div>
    <!-- LISTADO -->
    {% include "user/listaMascotas.html" with mascotas=mascotas %}
</div>

{% endblock %}