<div class="container">
     {% if not request.user.is_authenticated %}
    <div class="container">
        <section class="hero" id="inicio">
            <div class="accordion-fullscreen">

                <div class="accordion-item">
                    <img src="/media/mascotas/nenaperro.jpg" alt="Nena Perro">

                </div>

                <div class="accordion-item">
                    <img src="/media/mascotas/gato.png" alt="Gato">

                </div>

                <div class="accordion-item">
                    <img src="/media/mascotas/liebre-mascota.jpg" alt="Liebre mascota">

                </div>

                <div class="accordion-item">
                    <img src="/media/mascotas/perrito1.png" alt="Perro en jaula">
                </div>

            </div>

            <!-- BANNER -->
            <div class="banner-welcome text-center">
                <h1 class="display-4 fw-bold">¡Bienvenido a Universo Peludo!</h1>
                <p class="fs-4">Conocé nuestras mascotas y encontrá a tu compañero ideal 🐾</p>
                <p class="fs-5">
                    Somos una organización sin fines de lucro fundada en 2020, comprometida con el rescate y
                    rehabilitación de
                    animales.
                </p>
            </div>
        </section>
    </div>
    {% endif %}

    <div class="container">
        <section class="ver_mascotas" id="contenido">
            <div class="container py-5 text-center">
                <div class="bubble-menu">

                    <!-- Mi Cuenta -->
                    <a href="{% url 'explorar_especies' %}" class="bubble">
                        <i class="fa-solid fa-user"></i>
                        <span>Mi Cuenta</span>
                    </a>

                    <!-- Ver Mascotas -->
                    <a href="{% url 'listar_mascotas_usuario' %}" class="bubble">
                        <i class="fa-solid fa-dog"></i>
                        <span>Ver Mascotas</span>
                    </a>

                    <!-- Especies -->
                    <a href="{% url 'explorar_especies' %}" class="bubble">
                        <i class="fa-solid fa-paw"></i>
                        <span>Especies</span>
                    </a>

                    <!-- Especies -->
                    <a href="{% url 'mis_adopciones' %}" class="bubble">
                        <i class="fa-solid fa-heart"></i>
                        <span>Mis adopciones</span>
                    </a>
                </div>
            </div>

            <!--SECCION PARA VER LAS MASCOTAS DISPONIBLES-->
            {% include "user/listaMascotas.html" with mascotas=mascotas %}

            <!-- BOTÓN VER MÁS -->
            <div class="text-end">
                <a href="{% url 'listar_mascotas_usuario' %}" class="btn btn-outline-primary"
                    style="background-color: rgb(255, 255, 255);">
                    Ver más →
                </a>
            </div>
        </section>
    </div><br>

    <div class="container">
        <section id="novedades">

            {% include "user/listaNovedades.html" with novedades=novedades %}

            <div class="text-end">
                <a href="{% url 'listar_novedades_usuario' %}" class="btn btn-outline-primary"
                    style="background-color: rgb(255, 255, 255);">
                    Ver más →
                </a>
            </div>
        </section>
    </div>

    <div class="container">
        <div class="quienes_somos">
            <section id="contenido2">
                {% include 'quienes_somos.html' %}
            </section>
        </div>
    </div>

    <div class="container">
        <section id="contenido3">
            {% include 'contacto.html' %}
        </section>
    </div>
</div>