<div class="sidebar">
    <h2 class="sidebar-title text-center mb-4">🐾 MENÚ</h2>
    {% if user.is_authenticated and not user.userprofile.primer_ingreso %}

      <ul class="sidebar-menu">
        
        <li>
          <a href="{% url 'dashboard' %}" class="btn-sidebar">
            <i class="bi bi-house"></i> Inicio
          </a>
        </li>

        <li><a href="{% url 'listar_mascotas_usuario' %}" class="btn-sidebar"><i class="bi bi-list-ul"></i> Lista de Mascotas</a></li>
        <li><a href="{% url 'cambiar_contraseña_voluntariamente' %}" class="btn-sidebar"><i class="bi bi-lock-fill"></i> Cambiar Contraseña</a></li>
       

      </ul>
    {% else %}
      <p>Se debe <a href="{% url 'login' %}"> INICIAR SESIÓN </a> para ver las opciones</p>
    {% endif %}
</div>
