{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-5">
        <!-- TÍTULO -->
    <div class="text-center mb-5">
        <h1 class="fw-bold text-dark mb-3 emoji-title">
            MI PERFIL 🐾 
        </h1>
    </div>

    <!-- BOTON VOLVER ATRAS -->
    <div class="mb-4">
        <a href="{% url 'home' %}" class="btn btn-outline-dark">← Volver al menú</a>
    </div>
    
    <div class="card mx-auto" style="max-width: 450px;">
        <div class="card-body text-center">

            <!-- Mostrar avatar -->
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" 
                     alt="Avatar"
                     class="img-fluid rounded-circle mb-3"
                     style="width: 180px; height: 180px; object-fit: cover;">
            {% else %}
                <img src="{% static 'imagenes/sin_avatar.jpg' %}"
                     alt="Sin foto"
                     class="img-fluid rounded-circle mb-3"
                     style="width: 180px; height: 180px; object-fit: cover;">
            {% endif %}

            <p><strong>Usuario:</strong> {{ request.user.username }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>

            {% if profile.bio %}
                <p><strong>Bio:</strong> {{ profile.bio }}</p>
            {% endif %}

            <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">
                Editar Perfil
            </a>
        </div>
    </div>


</div>
{% endblock %}
