{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Mi Perfil</h2>

    <div class="card" style="max-width: 500px;">
        <div class="card-body">

            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}"
                     alt="Foto de perfil"
                     class="img-fluid rounded mb-3"
                     style="max-height: 200px; object-fit: cover;">
            {% else %}
                <img src="{% static 'imagenes/sin_foto.jpg' %}"
                     alt="Sin foto"
                     class="img-fluid rounded mb-3"
                     style="max-height: 200px; object-fit: cover;">
            {% endif %}

            <p><strong>Usuario:</strong> {{ request.user.username }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>

            <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">
                Editar Perfil
            </a>
        </div>
    </div>
    <div class="mb-4">
        <a href="{% url 'home' %}" class="btn btn-outline-dark">← Volver al menú</a>
    </div>

</div>
{% endblock %}
